<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="icon" href="/favicon.ico?v=2" type="image/x-icon" />
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <title>Страницы сайта</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
          <div class="modal-mask">
            <div class="modal-wrapper">
              <div class="modal-container">  
                <div class="modal-header">
                  <slot name="header">
                    Редактирование
                  </slot>
                </div>  
                <div class="modal-body">
                    <form @submit="checkForm" action="https://vuejs.org/" method="post">
                    <p v-if="errors.length">
                        <b>Пожалуйста исправьте указанные ошибки:</b>
                        <ul>
                        <li v-for="error in errors">{{ error }}</li>
                        </ul>
                    </p>                   
                    <p>
                        <label for="name">Name</label>
                        <input type="text"
                        id="name"
                        v-model="aC.Name"
                        name="name"
                        >
                        
                        </input>
                    </p>
                        <label for="Content">Content</label>
                        <div id="Content"  name="Content" class="scroll-container">                        
                            {{aC.Content}}
                        </div>
                    </form>
                </div>
  
                <div class="modal-footer">
                  <slot name="footer">                    
                    <button class="modal-default-button" v-on:click="writeContent(); $emit('close')">
                        Сохранить
                    </button>
                    <button class="modal-default-button" @click="$emit('close')">
                     X
                    </button>
                  </slot>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </script>
</head>

<body>

    <div class="container pt-3" id="app" v-cloak>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
                Agabus
            </a>
            <button class="show-edit btn btn-primary" @click="showEdit = true; selectId = 0">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
                  </svg>
                Новая страница
            </button>
        </nav>
        <h1>Страницы сайта NVAVIA.RU</h1>

        <div v-if="loading">
            <loader></loader>
        </div>

        <div v-else-if="actionContents.length">

            <modal-edit v-if="showEdit" @close="showEdit = false"
                v-bind:actionContent="selectId === 0? {Action:'Show', Controller:'Content',Name:'Новая страница', Content:'текст', Description:'Описание'} :actionContents.filter(x => x.id === selectId)[0]">
                <h3 slot="header">Редактирование</h3>
            </modal-edit>

            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Edit</th>
                        <th scope="col">IsActive</th>
                        <th scope="col">ChangeDate</th>
                        <th scope="col">Name</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="actionContent in actionContents">
                        <!-- <th scope="row">{{actionContent.id}} <a :href="'/editAC/' + actionContent.id">+</a></th> -->
                        <th scope="row">{{actionContent.id}}
                            <button class="show-edit btn btn-success"
                                @click="showEdit = true; selectId = actionContent.id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>

                            </button>


                        </th>
                        <td>{{actionContent.IsActive}}</td>
                        <td>{{actionContent.ChangeDate}}</td>
                        <td>{{actionContent.Name}}</td>
                        <td>
                            <button class="show-edit btn btn-danger" @click="removeContent(actionContent.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd"
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p v-else>Контактов нет</p>

    </div>

    <script type="module" src="models.js"></script>
    <script type="module" src="frontend.js"></script>

</body>

</html>